{% extends "base/base.html" %}

{% load bootstrap %}

{% block content %}

    <h1 class="page-header">Recruit new unit</h1>

    <p>
        Cost is 2 gold coins per man.
    </p>

    <div class="container-fluid">
        <form class="form-horizontal" role="form" method="post">
            {% csrf_token %}
            {{ form|bootstrap }}
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>

{% endblock %}


