{% extends "base/base_naked.html" %}

{% block body %}

    {% include "world/renderer.html" %}

    <script>
        $(function () {
            var map = new MapRenderer(
                {{ regions|safe }},
                window.parent.region_callback,
                window.parent.settlement_callback,
                window.parent.click_callback,
                {{ focused_tile.id }},
                {{ focused_settlement.id }},
                true
            )
        })
    </script>

{% endblock %}
