{% extends "base/base.html" %}

{% load staticfiles %}

{% block content %}

    <h1 class="page-header">
        {{ world.name }}
    </h1>

    <div class="row container-fluid">
        <p id="region_name"></p>
        <p id="region_type"></p>
    </div>

    <script src="{% static 'battle/js/three.min.js' %}"></script>
    <script src="{% static 'battle/js/OrbitControls.js' %}"></script>


    <script type="text/javascript">

        var regions = {{ regions|safe }};

        $(function () {
            var canvas_container = $("#canvas-container");
            var viewWidth = canvas_container.width();
            var viewHeight = canvas_container.height();

            //scene
            var scene = new THREE.Scene();
            //camera
            var camera = new THREE.PerspectiveCamera(75, viewWidth / viewHeight, 0.1, 1000);
            camera.position.z = 0;
            camera.position.x = 5;
            camera.position.y = 5;
            camera.lookAt(new THREE.Vector3( 0, 0, 0 ));
            camera.aspect = viewWidth / viewHeight;
            camera.updateProjectionMatrix();

            //renderer
            var renderer = new THREE.WebGLRenderer();
            renderer.setSize(viewWidth, viewHeight);
            //controls
            var controls = new THREE.OrbitControls(camera, renderer.domElement);
            //axes
            var axes = new THREE.AxisHelper(2);
            scene.add(axes);
            //grid xz
            var gridXZ = new THREE.GridHelper(10, 1);
            scene.add(gridXZ);
            //ambient light
            var ambientLight = new THREE.AmbientLight(0xffffff, 0.2);
            scene.add(ambientLight);
            //directional light
            var directionalLight = new THREE.DirectionalLight(0xffffff, 0.5);
            directionalLight.position.set(1, 1, 1).normalize();
            scene.add(directionalLight);
            // point light
            //var pointLight = new THREE.PointLight(0xffffff, 10);
            //pointLight.position.set(0, 10, 30);
            //scene.add(pointLight);

            //show canvas

            canvas_container.html(renderer.domElement);

            var region_geometry = new THREE.CubeGeometry(1, 1, 1);
            var region_materials = {
                "plain": new THREE.MeshLambertMaterial({color: 0x90CD00, shading: THREE.SmoothShading}),
                "forest": new THREE.MeshLambertMaterial({color: 0x207F07, shading: THREE.SmoothShading})
            };
            for (var i = 0; i < regions.length; i++)  {
                var region = regions[i];
                var mesh = new THREE.Mesh(region_geometry, region_materials[region.type]);

                var geo = new THREE.EdgesGeometry( mesh.geometry ); // or WireframeGeometry
                var mat = new THREE.LineBasicMaterial( { color: 0x000000, linewidth: 2 } );
                var wireframe = new THREE.LineSegments( geo, mat );
                mesh.add( wireframe );

                mesh.position.x = region.x_pos - 1;
                mesh.position.z = region.z_pos - 1;
                mesh.position.y = region.y_pos;
                regions[i].mesh = mesh;
                mesh.region = regions[i];
                scene.add(mesh);
            }


            var raycaster = new THREE.Raycaster();

            var mouse = new THREE.Vector2();

            function onMouseMove( event ) {

                // calculate mouse position in normalized device coordinates
                // (-1 to +1) for both components

                var el = canvas_container.offset();
                mouse.x = ( (event.clientX - el.left) / viewWidth ) * 2 - 1;
                mouse.y = - ( (event.clientY - el.top) / viewHeight ) * 2 + 1;
            }

            //render scene
            function render() {
                raycaster.setFromCamera( mouse, camera );

                // calculate objects intersecting the picking ray
                var intersects = raycaster.intersectObjects( scene.children );

                for ( var i = 0; i < intersects.length; i++ ) {

                    var region = intersects[ i ].object.region;
                    if (region !== undefined) {
                        $("#region_name").text(region.name);
                        $("#region_type").text(region.type);
                        break;
                    }
                    //intersects[ i ].object.material.color.set( 0xff0000 );

                }

                requestAnimationFrame(render);
                renderer.render(scene, camera);
            };

            function animate(){
                requestAnimationFrame(animate);
            }

            animate();
            render();

            canvas_container.mousemove(onMouseMove);

        });

    </script>

    <div id="canvas-container" style="height: 600px;" class="row container-fluid"></div>

{% endblock %}
