{% extends "base/base.html" %}

{% load extra_filters %}

{% block content %}

    {% if not request.hero.can_conscript_unit %}
        <div class="alert alert-danger">
            <p>
                You can't currently recruit an unit, either because you are not
                allowed to recruit in your current location (are you in enemy
                territory?) or because you are taking part in a battle.
            </p>
        </div>
    {% endif %}


    <div class="row">
        <div class="col-lg-6">
            <h1 class="page-header">Recruiting a unit</h1>

            <p>
                Unit limits: You may control up to
                {{ request.hero.max_soldiers }} soldiers in
                up to {{ request.hero.max_units }} units.
            </p>
            <!--
            <p>To form a new unit, you can choose different options.</p>
            <ol>
                <li>
                    You may <b>conscript</b> forces from the local population.
                    <ul>
                        <li>Pro: it's almost always possible and cheap to conscript units.</li>
                        <li>Con: conscripted units will probably lack proper training.</li>
                    </ul>
                </li>
                <li>
                    You may form a <b>professional unit</b> of soldiers.
                    <ul>
                        <li>Pro: properly trained and better willingness to fight.</li>
                        <li>Con: more expensive.</li>
                    </ul>
                </li>
                <li>
                    You may hire <b>mercenaries</b>.
                    <ul>
                        <li>Pro: mostly true battle-hardened fighters.</li>
                        <li>Con: most expensive, sporadic availability.</li>
                    </ul>
                </li>
            </ol>
            -->
            <p>
                The government of this region allows you to conscript soldiers
                and command them as part of military forces.
            </p>
            <p>
                You will be allowed to use the local powers and infrastructure
                as far as conditions allow to call people to their duty. This
                will sometimes mean separating families and will likely affect
                the local population. There is an alternative to conscription:
                <a href="{% url 'unit:raise' %}">raising a unit</a>.
            </p>
            <p>
                This will take you
                {{ request.hero.location.base_unit_conscription_cost }} hours
                plus one
                hour for each five soldiers to conscript. Every soldier will
                get an initial payment of one silver coin. Thus, you may now
                try to conscript up to
                {{ request.hero.max_amount_of_conscripted_soldiers }}
                soldiers. You
                can later add further conscripts to existing units.
            </p>
            <p>
                Each soldier will get a monthly payment of one silver coin
                as long as the unit is mobilized. You will have to let pass a
                month to demobilize the unit.
            </p>

        </div>

        <div class="col-lg-6">
            <div class="well">
                <form class="form-horizontal" role="form" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="recruitment_type" value="conscription">

                    <div class="form-group">
                        <label for="count">
                            Target unit size (up to
                            {{ request.hero.max_amount_of_conscripted_soldiers }})
                        </label>
                        <input class="form-control" id="count" name="count"
                               type="number" min="1"
                               max="{{ request.hero.max_amount_of_conscripted_soldiers }}"
                        >
                    </div>

                    <div class="form-group">
                        <label for="unit_type">Unit type</label>
                        <select class="form-control" id="unit_type" name="unit_type">
                            <option value="infantry">Infantry</option>
                            <option value="archers">Archers</option>
                            {% comment %}
                            {% for type in unit_types %}
                                <option value="{{ type }}">{{ type|capfirst }}</option>
                            {% endfor %}
                            {% endcomment %}
                        </select>
                    </div>

                    <h4>Conscripts profile</h4>

                    {% include 'unit/soldier_profile_form.html' %}

                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-primary">Conscript</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}


