<div class="form-group">
    <h6>Gender</h6>
    <input type="checkbox" name="men" id="men" checked="checked">
    <label for="men">Men</label>
    <br>
    <input type="checkbox" name="women" id="women">
    <label for="women">Women</label>
</div>

<div class="form-group">
    <h6>Training</h6>
    <input type="checkbox" name="trained" id="trained" checked="checked">
    <label for="trained">Trained</label>
    <br>
    <input type="checkbox" name="untrained" id="untrained" checked="checked">
    <label for="untrained">Untrained</label>
</div>

<div class="form-group">
    <h6>Ability</h6>
    <input type="checkbox" name="skill_high" id="skill_high" checked="checked">
    <label for="skill_high">High skill</label>
    <br>
    <input type="checkbox" name="skill_medium" id="skill_medium" checked="checked">
    <label for="skill_medium">Average skill</label>
    <br>
    <input type="checkbox" name="skill_low" id="skill_low" checked="checked">
    <label for="skill_low">Low skill</label>
</div>

<div class="form-group">
    <h6>Age</h6>
    <input type="checkbox" name="age_old" id="age_old">
    <label for="age_old">Old age</label>
    <br>
    <input type="checkbox" name="age_middle" id="age_middle" checked="checked">
    <label for="age_middle">Middle age</label>
    <br>
    <input type="checkbox" name="age_young" id="age_young" checked="checked">
    <label for="age_young">Young age</label>
    <br>
    <input type="checkbox" name="age_very_young" id="age_very_young">
    <label for="age_very_young">Very young age</label>
</div>
