<h3>
    Military stance of {{ capability.applying_to.get_html_link|safe }} to {{ target_organization.get_html_link|safe }}
</h3>

<div class="col-md-6">
    <h4>General military stance: {{ stance.get_stance }}</h4>
    <p>
        {% if stance.stance_type == 'default' %}
            Automatic (set by diplomatic relationship)
        {% else %}
            Manual (not set by diplomatic relationship)
        {% endif %}
    </p>

    <h4>Change stance</h4>
    <form class="form-horizontal" role="form" method="post">
        {% csrf_token %}

        <p>
            {% if stance.stance_type != 'default' %}
                <button type="submit" class="btn btn-primary" name="new_stance" value="default" onclick="return confirm('Are you sure?')">
                    Automatic by diplomacy
                </button>
            {% endif %}
            {% if stance.stance_type != 'avoid battle' %}
                <button type="submit" class="btn btn-primary" name="new_stance" value="avoid battle" onclick="return confirm('Are you sure?')">
                    Avoid battle
                </button>
            {% endif %}
            {% if stance.stance_type != 'defensive' %}
                <button type="submit" class="btn btn-primary" name="new_stance" value="defensive" onclick="return confirm('Are you sure?')">
                    Defensive
                </button>
            {% endif %}
            {% if stance.stance_type != 'aggressive' %}
                <button type="submit" class="btn btn-primary" name="new_stance" value="aggressive" onclick="return confirm('Are you sure?')">
                    Agressive
                </button>
            {% endif %}
        </p>
    </form>
</div>

<div class="col-md-6">
    <h4>Per-region stance</h4>

    {% for region in regions %}
        <div class="row">
            <p class="pull-left">
                <b>{{ region }}</b><br>
                {% if region.stance %}
                    <span class="lead">{{ region.stance.get_stance }}</span>
                {% else %}
                    No special stance
                {% endif %}
            </p>

            <div class="pull-right">
                <form class="form-horizontal" role="form" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="region_id" value="{{ region.id }}">
                    <p>
                        {% if region.stance and region.stance.stance_type != 'default' %}
                            <button type="submit" class="btn btn-danger btn-sm" name="new_stance" value="default" onclick="return confirm('Are you sure?')">
                                Remove special stance
                            </button>
                        {% endif %}
                        {% if region.stance.stance_type != 'avoid battle' %}
                            <button type="submit" class="btn btn-primary btn-sm" name="new_stance" value="avoid battle" onclick="return confirm('Are you sure?')">
                                Avoid battle
                            </button>
                        {% endif %}
                        {% if region.stance.stance_type != 'defensive' %}
                            <button type="submit" class="btn btn-primary btn-sm" name="new_stance" value="defensive" onclick="return confirm('Are you sure?')">
                                Defensive
                            </button>
                        {% endif %}
                        {% if region.stance.stance_type != 'aggressive' %}
                            <button type="submit" class="btn btn-primary btn-sm" name="new_stance" value="aggressive" onclick="return confirm('Are you sure?')">
                                Agressive
                            </button>
                        {% endif %}
                    </p>
                </form>
            </div>
        </div>

        {% if not forloop.last %}<hr>{% endif %}
    {% endfor %}
</div>
