{% extends "base/base.html" %}

{% load bootstrap %}

{% block content %}

    <h1 class="page-header">New character in {{ world }}</h1>

    <div class="container-fluid">
        <form class="form-horizontal" role="form" method="post">
            {% csrf_token %}

            <div class="form-group">
                <h2>Choose your State</h2>
                {% for state in world.get_violence_monopolies.all %}
                    <div class="col-md-6">
                        <div class="well">
                            <label class="btn btn-primary">
                                <input type="radio" name="state_id" value="{{ state.id }}"> {{ state.get_html_name|safe }}
                            </label>
                            <p>{{ state.description }}</p>
                            <p>{{ state.get_membership_including_descendants|length }} members</p>
                            <p>{{ state.get_all_controlled_tiles|length }} regions</p>
                            <p>
                                {% if state.leader %}
                                    Leader: {{ state.leader.get_html_name|safe }}
                                {% else %}
                                    Fully horizontal State.
                                {% endif %}
                            </p>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="form-group">
                <h2>Choose your profile</h2>
                <label class="btn btn-primary">
                    <input type="radio" name="profile" value="commander"> Commander
                </label>
                <label class="btn btn-primary">
                    <input type="radio" name="profile" value="fighter"> Fighter
                </label>
                <label class="btn btn-primary">
                    <input type="radio" name="profile" value="trader"> Trader
                </label>
                <label class="btn btn-primary">
                    <input type="radio" name="profile" value="spy"> Spy
                </label>
                <label class="btn btn-primary">
                    <input type="radio" name="profile" value="bureaucrat"> Bureaucrat
                </label>
            </div>

            <div class="form-group form-inline">
                <h2>Choose your name</h2>
                <select class="form-control" name="name">
                    {% for name in names %}
                        <option value="{{ name }}">{{ name }}</option>
                    {% endfor %}
                </select>
                <select class="form-control" name="surname">
                    {% for surname in surnames %}
                        <option value="{{ surname }}">{{ surname }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </form>
    </div>

{% endblock %}


