{% extends "base/base_naked.html" %}

{% block body %}

    {% include "world/renderer.html" %}

    <script>
        $(function () {
            var map = new MapRenderer({{ world_data|safe }});
            map.focus_to_region({{ request.hero.location.tile_id }});
            map.enable_region_tags();
            map.highlight_settlement({{ request.hero.location_id }});
            {% if request.hero.travel_destination %}
                map.add_travel_line({{ request.hero.location_id }}, {{ request.hero.travel_destination_id }});
            {% endif %}
            map.click_callback = map.link_click_to_view_callback;
            map.add_political_markings();
        })
    </script>

    <div class="minimap_travel_button">
        {% if request.hero.travel_destination %}
            <a href="{% url 'character:travel' %}" class="btn btn-default" target="_parent">Travelling to {{ request.hero.travel_destination }}</a>
        {% else %}
            <a href="{% url 'character:travel' %}" class="btn {% if request.hero.can_travel %}btn-primary{% else %}btn-default{% endif %}" target="_parent">Travel</a>
        {% endif %}
    </div>

{% endblock %}
