{% extends "base/base.html" %}

{% load extra_filters %}

{% block content %}

    <h1 class="page-header">Recruitment</h1>

    {% if not can_recruit %}
        <div class="alert alert-danger">
            <p>
                You can't currently recruit an unit, either because you are not
                allowed to recruit in your current location (are you in enemy
                territory?) or because you are taking part in a battle.
            </p>
        </div>
    {% endif %}

    <p>To form a new unit, you can choose different options.</p>
    <ol>
        <li>
            You may <b>conscript</b> forces from the local population.
            <ul>
                <li>Pro: it's almost always possible and cheap to conscript units.</li>
                <li>Con: conscripted units will probably lack proper training.</li>
            </ul>
        </li>
        <li>
            You may form a <b>professional unit</b> of soldiers.
            <ul>
                <li>Pro: properly trained and better willingness to fight.</li>
                <li>Con: more expensive.</li>
            </ul>
        </li>
        <li>
            You may hire <b>mercenaries</b>.
            <ul>
                <li>Pro: mostly true battle-hardened fighters.</li>
                <li>Con: most expensive, sporadic availability.</li>
            </ul>
        </li>
    </ol>

    <div class="col-xs-12 col-md-4 well">
        <h4>Conscription</h4>

        <p>Conscripting soldiers from {{ request.hero.location }}.</p>

        <p>
            This will take you {{ request.hero.location.base_conscription_cost|nice_hours }} plus one hour for each five
            soldiers to conscript.
        </p>

        <p>
            It will cost you 1 silver coin per soldier.
        </p>

        <form class="form-horizontal" role="form" method="post">
            {% csrf_token %}
            <input type="hidden" name="recruitment_type" value="conscription">

            <div class="form-group">
                <label for="conscript_count">Max soldier count (unit size)</label>
                <input class="form-control" id="conscript_count" name="conscript_count" type="number" min="1">
            </div>

            <div class="form-group">
                <label for="conscript_unit_type">Unit type</label>
                <select class="form-control" id="conscript_unit_type" name="conscript_unit_type">
                    {% for type in unit_types %}
                        <option value="{{ type }}">{{ type|capfirst }}</option>
                    {% endfor %}
                </select>
            </div>

        <!--
            <div class="form-group">
                <label for="conscript_pay">Payment</label>
                <select class="form-control" id="conscript_pay" name="conscript_pay">
                    <option value="2">No pay</option>
                    <option value="2">Very low pay (1 coin per month)</option>
                    <option value="2">Low pay (2 coins per month)</option>
                    <option value="3" selected="selected">Normal pay (3 coins per month)</option>
                    <option value="4">High pay (4 coins per month)</option>
                    <option value="5">Higher pay (5 coins per month)</option>
                    <option value="6">Double pay (6 coins per month)</option>
                </select>
            </div>
        -->

            <h4>Conscripts profile</h4>

            <div class="form-group">
                <h6>Gender</h6>
                <input type="checkbox" name="conscript_men" id="conscript_men" checked="checked">
                <label for="conscript_men">Men</label>
                <br>
                <input type="checkbox" name="conscript_women" id="conscript_women">
                <label for="conscript_women">Women</label>
            </div>

            <div class="form-group">
                <h6>Training</h6>
                <input type="checkbox" name="conscript_trained" id="conscript_trained" checked="checked">
                <label for="conscript_trained">Trained</label>
                <br>
                <input type="checkbox" name="conscript_untrained" id="conscript_untrained" checked="checked">
                <label for="conscript_untrained">Untrained</label>
            </div>

            <div class="form-group">
                <h6>Ability</h6>
                <input type="checkbox" name="conscript_skill_high" id="conscript_skill_high" checked="checked">
                <label for="conscript_skill_high">High skill</label>
                <br>
                <input type="checkbox" name="conscript_skill_medium" id="conscript_skill_medium" checked="checked">
                <label for="conscript_skill_medium">Average skill</label>
                <br>
                <input type="checkbox" name="conscript_skill_low" id="conscript_skill_low" checked="checked">
                <label for="conscript_skill_low">Low skill</label>
            </div>

            <div class="form-group">
                <h6>Age</h6>
                <input type="checkbox" name="conscript_age_old" id="conscript_age_old">
                <label for="conscript_age_old">Old age</label>
                <br>
                <input type="checkbox" name="conscript_age_middle" id="conscript_age_middle" checked="checked">
                <label for="conscript_age_middle">Middle age</label>
                <br>
                <input type="checkbox" name="conscript_age_young" id="conscript_age_young" checked="checked">
                <label for="conscript_age_young">Young age</label>
                <br>
                <input type="checkbox" name="conscript_age_very_young" id="conscript_age_very_young">
                <label for="conscript_age_very_young">Very young age</label>
            </div>

            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary">Conscript</button>
            </div>
        </form>
    </div>

    <div class="col-xs-12 col-md-4 well">
        <h4>Professional unit</h4>
        <form class="form-horizontal" role="form" method="post">
            {% csrf_token %}
            <input type="hidden" name="recruitment_type" value="professional">

        </form>
    </div>

    <div class="col-xs-12 col-md-4 well">
        <h4>Mercenaries</h4>
        <form class="form-horizontal" role="form" method="post">
            {% csrf_token %}
            <input type="hidden" name="recruitment_type" value="mercenaries">

        </form>
    </div>

{% endblock %}


