{% extends "base/base.html" %}

{% load extra_filters %}

{% block content %}

    <h1 class="page-header">Travel</h1>

    {% if request.hero.travel_destination %}
        <p>You wil reach {{ request.hero.travel_destination }} in the next turn.</p>
    {% elif target_settlement %}
        <p>
            The distance from your current location, {{ request.hero.location }}, to {{ target_settlement }} is
            {{ travel_time|nice_hours }}.
        </p>

        {% if request.hero.location.tile != target_settlement.tile %}
            <p>Because you are leaving your current region, you will reach your destination in the next turn!</p>
        {% elif request.hero.hours_in_turn_left < travel_time %}
            <p>Because you don't have enough time left in this turn, you will reach your destination in the next turn!</p>
        {% endif %}

        <form class="form-horizontal" role="form" method="post">
            {% csrf_token %}
            <input type="hidden" name="target_settlement_id" value="{{ target_settlement.id }}">

            <div class="form-group text-center">
                <p>
                    <button type="submit" class="btn btn-primary">Confirm journey</button>
                </p>
            </div>
        </form>

    {% else %}
        <p>
            As long as you have time left and you stay in the same region, you may travel as much as you want each turn.
        </p>

        <p>
            If you want to travel to a different region, you will need to wait until the turn ends.
        </p>
    {% endif %}

    <hr>

    <p>
        Click on a settlement to travel (<span id="settlement_name">none</span>).
    </p>

    <script>
        var selected_region = {};

        function click_callback(region, settlement) {
            if (settlement !== undefined) {
                window.location.href = '{% url 'world:travel' %}' + settlement.id
            }
        }

        function region_callback(region) {
            selected_region = region;
        }
        function settlement_callback(settlement) {
            console.log(settlement);
            $("#settlement_name").text(settlement ? settlement.settlement.name : 'none');
        }
    </script>

    <iframe
            id="travel_map"
            class="placeholder"
            scrolling="no"
            style="height: 700px; width: 100%; padding: 0; border: 0;"
            {% if target_settlement %}
                src="{% url 'world:travel_iframe' target_settlement.id %}"
            {% else %}
                src="{% url 'world:travel_iframe' %}"
            {% endif %}
    ></iframe>

{% endblock %}


