{% extends "base/base.html" %}

{% block content %}

    <h1 class="page-header">
        Inventory
        <small>
            Remaining space: {{ request.hero.remaining_carrying_capacity }}
        </small>
    </h1>

    <p>
        {{ request.hero.cash }} silver coins.

        {% if request.hero.location.character_set.all|length > 1 %}
            <form action="{% url 'character:transfer_cash' %}" class="form-horizontal col-lg-12" method="post">
                {% csrf_token %}

                <input type="hidden" name="from_character_id" value="{{ request.hero.id }}">

                <div class="form-group col-lg-2">
                    <label for="coins_to_transfer">
                        Transfer coins
                    </label>

                    <input class="form-control"
                           id="coins_to_transfer"
                           type="number"
                           name="transfer_cash_amount"
                           min="1"
                           max="{{ request.hero.cash }}"
                           value="100"
                    >
                </div>
                  <div class="col-lg-4">
                    <label for="transfer_to_character">
                        to nearby character
                    </label>
                    <div class="input-group" id="transfer_to_character">
                        <select name="to_character_id" class="form-control">
                            {% for near_character in request.hero.location.character_set.all %}
                                {% if request.hero.id != near_character.id %}
                                <option value="{{ near_character.id }}">
                                    {{ near_character.name }}
                                </option>
                                {% endif %}
                            {% endfor %}
                        </select>
                      <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit">Transfer</button>
                      </span>
                    </div>
                  </div>
            </form>
        {% endif %}
    </p>

    {% for item in request.hero.inventoryitem_set.all %}
        <p>
            {{ item }}
        </p>
    {% endfor %}

    <h3>
        Local granary in {{ request.hero.location }}
        <small>
            {{ request.hero.location.get_default_granary.get_public_bushels_object.quantity }}
            bushels
        </small>
    </h3>

    {% if carrying_grain %}
        <div class="col-sm-6">
            <form class="form-horizontal" method="post">
                <fieldset>
                    {% csrf_token %}
                    <input type="hidden" name="action" value="unload">

                    <legend>Unload grain at local granary</legend>

                    <div class="form-group">
                        <label for="bushels_to_unload" class="col-lg-2 control-label">
                            Bushels
                        </label>
                        <div class="col-lg-10">
                            <input class="form-control"
                                   id="bushels_to_unload"
                                   name="bushels"
                                   placeholder="max {{ carrying_grain }}"
                                   type="number"
                                   max="{{ carrying_grain }}"
                            >
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            <button type="submit" class="btn btn-primary">
                                Unload grain
                            </button>
                            {{ request.hero.bushels_per_hour }}
                            bushels per hour
                        </div>
                    </div>

                </fieldset>
            </form>
        </div>
    {% endif %}

    {% if can_take_grain and takeable_grain %}
        <div class="col-sm-6">
            <form class="form-horizontal" method="post">
                <fieldset>
                    {% csrf_token %}
                    <input type="hidden" name="action" value="load">

                    <legend>Take grain from granary</legend>

                    <div class="form-group">
                        <label for="bushels_to_load" class="col-lg-2 control-label">
                            Bushels
                        </label>
                        <div class="col-lg-10">
                            <input class="form-control"
                                   id="bushels_to_load"
                                   name="bushels"
                                   placeholder="max {{ takeable_grain }}"
                                   type="number"
                                   max="{{ takeable_grain }}"
                            >
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            <button type="submit" class="btn btn-primary">
                                Take grain
                            </button> 2 bushels per hour
                        </div>
                    </div>

                </fieldset>
            </form>
        </div>
    {% endif %}

{% endblock %}
