{% extends "base/base.html" %}

{% load staticfiles %}

{% block content %}

    <h1 class="page-header">
        {{ tile }}
        <small>
            {% if tile.controlled_by %}
                {{ tile.controlled_by.get_html_link|safe }}
            {% else %}
                Barbaric
            {% endif %}
        </small>
    </h1>

    <div class="row">
        <div class="col-lg-3">
            {% for battle in tile.get_current_battles %}
                <p class="alert alert-danger text-center">
                    <a href="{{ battle.get_absolute_url }}">
                        Battle in progress
                    </a>
                </p>
            {% endfor %}

            {% for conquest in conquests %}
                <p class="alert alert-danger text-center">
                    {{ conquest.organization.get_html_link|safe }} is occupying this region.
                </p>
            {% endfor %}

            <h4>Local settlements</h4>

            <ul>
                {% for settlement in tile.settlement_set.all %}
                    <li>
                        {{ settlement|safe }}: {{ settlement.population }} inhabitants
                    </li>
                {% empty %}
                    <li>None</li>
                {% endfor %}
            </ul>
        </div>

        <div class="col-lg-9 col-md-12 placeholder">
            <iframe
                    id="tile_map"
                    class="placeholder"
                    scrolling="no"
                    style="height: 600px; width: 100%; padding: 0; border: 0;"
                    src="{% url 'world:tile_iframe' tile.id %}"
            ></iframe>
        </div>
    </div>

    <hr>

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading"><h3 class="panel-title">Characters here</h3></div>
            <div class="panel-body">
                <ul>
                    {% for character in characters.all %}
                        <li>{{ character.get_html_link|safe }} - {{ character.location }}</li>
                    {% empty %}
                        <li>No one</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading"><h3 class="panel-title">Troops here</h3></div>
            <div class="panel-body">
                <ul>
                    {% for unit in units %}
                        <li>{{ unit }} - {{ unit.location }} - {{ unit.owner_character.get_html_link|safe }}</li>
                    {% empty %}
                        <li class="small">None</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>


    {% include "world/renderer.html" %}

    <script>
        function region_callback(region) {
            $("#region_type").text(region ? region.type : '');
            $("#region_name").text(region ? region.name : '');
        }
        function settlement_callback(settlement) {
            $("#settlement_name").text(settlement ? settlement.name : '');
        }
    </script>

{% endblock %}
