{% extends "base/base.html" %}

{% load staticfiles %}

{% block content %}

    <div class="row">
        <div class="col-md-3 placeholder">
            <h1 class="">
                {{ world.name }}
            </h1>
            <p id="region_name"></p>
            <p id="region_type"></p>
            <p id="settlement_name"></p>
        </div>

        <div class="col-md-9 placeholder">
            <iframe
                    id="world_map"
                    class="placeholder world_map_iframe"
                    scrolling="no"
                    src="{% url 'world:world_iframe' world.id %}"
            ></iframe>
        </div>
    </div>

    <script>
        function region_callback(region) {
            $("#region_type").text(region ? region.region.type : '');
            $("#region_name").text(region ? region.region.name : '');
        }

        function settlement_callback(settlement) {
            $("#settlement_name").text(settlement ? settlement.settlement.name : '');
        }
    </script>

    <div class="col-md-6">
        <h3>Realms of {{ world }}</h3>

        <ul>
            {% for state in world.get_violence_monopolies %}
                <li>{{ state.get_html_link|safe }}</li>
            {% empty %}
                <li>None</li>
            {% endfor %}
        </ul>

        <h3>Current battles</h3>

        <ul>
            {% for battle in battles %}
                <li>
                    <a href="{{ battle.get_absolute_url }}">
                        {{ battle }}
                    </a>
                </li>
            {% empty %}
                <li>None</li>
            {% endfor %}
        </ul>
    </div>

    <div class="col-md-6">
        <h4>Characters</h4>

        <ul>
            {% for character in world.character_set.all %}
                <li>
                    {{ character.get_html_link|safe }}
                </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}
