{% extends "base/base.html" %}

{% block content %}

    <h1 class="page-header">
        Orders for battle {{ battle }}
        {% if battle_character.ready %}
            (ready)
        {% else %}
            <a href="{% url 'battle:ready' battle_character.id %}">Ready!</a>
        {% endif %}
    </h1>

    {% for unit in units %}
        <h2>{{ unit }}</h2>
        <p>
            <form action="{% url 'battle:set_orders' unit.pk %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="order_{{ unit.pk }}">Orders</label>
                    <select class="form-control" name="order" id="order_{{ unit.pk }}">
                        <option value="attack">Attack</option>
                        <option value="stand">Stand ground</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="x_pos_{{ unit.pk }}">X position</label>
                    <select class="form-control" name="x_pos" id="x_pos_{{ unit.pk }}">
                        <option value="-1">Left</option>
                        <option value="0">Center</option>
                        <option value="1">Right</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="z_pos_{{ unit.pk }}">Z position</label>
                    <select class="form-control" name="z_pos" id="z_pos_{{ unit.pk }}">
                        <option value="-1">Back</option>
                        <option value="0">Middle</option>
                        <option value="1">Front</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-default">Save</button>
            </form>
        </p>
    {% endfor %}

{% endblock %}
