<blockquote>
    <p>
        {{ proposal.proposing_character }} wants to

        {% if proposal_content.type == 'take back' %}
            take back the proposal of
        {% elif proposal_content.type == 'accept' %}
            accept to the proposal of
        {% elif proposal_content.type == 'refuse' %}
            refuse to the proposal of
        {% elif proposal_content.type == 'propose' %}
            propose
        {% endif %}

        <b>{{ target_relationship_html }} with {{ target_organization.get_html_link }}</b>.
    </p>
</blockquote>
