<blockquote>
    <p>
        {{ proposal.proposing_character }} proposes to
        {% if proposal_content.new %}
            create a new document.
        {% elif proposal_content.delete %}
            delete the document <a href="{{ document.get_absolute_url }}">{{ document }}</a>.
        {% else %}
            edit the document <a href="{{ document.get_absolute_url }}">{{ document }}</a>.
        {% endif %}
    </p>
</blockquote>

{% if not proposal_content.delete %}
    <h4>{{ proposal_content.title }}</h4>
    <p>{% if proposal_content.public %}Public{% else %}Private{% endif %} document.</p>
    <pre class="wrapping">{{ proposal_content.body }}</pre>
{% endif %}
