{% extends "base/base.html" %}

{% block content %}

    <h1 class="page-header">{{ capability.get_type_display|capfirst }}</h1>

    <h5>
        {% if capability.applying_to != capability.organization %}
            {{ capability.organization.get_html_link }} on
        {% endif %}
        {{ capability.applying_to.get_html_link }}
        {% if capability.stemming_from %}
            as delegated by
            {{ capability.stemming_from.organization.get_html_link }}
        {% endif %}
    </h5>

    {% if not capability.organization.is_position and not capability.is_individual_action %}
        {% if capability.organization.decision_taking == 'democratic' %}
            <p class="alert alert-info">
                <span class="lead">Note on democratic organization</span><br>
                Because {{ capability.organization }} is
                organized democratically, the use of this capability is
                based on the democratic agreement of the members of
                {{ capability.organization }}. Thus, using this capability
                won't take effect immediately. Instead, a proposal will be
                created that will have to be voted by the members of
                {{ capability.organization }}. Only when the majority votes for
                your proposal, it will take effect.
            </p>
        {% elif capability.organization.decision_taking == 'distributed' %}
        {% endif %}
    {% endif %}

    <div class="row">
        {% include subtemplate %}
    </div>

{% endblock %}
