{% load extra_filters %}

<p>
    {% if action_type == 'propose' and has_to_be_agreed %}
        {{ proposal.capability.applies_to.get_html_link|safe }} proposed
        {{ target_organization.get_html_link|safe}} the following diplomatic
        relationship: <b>{{ target_relationship }}</b>.
    {% elif action_type == 'propose' and not has_to_be_agreed %}
        {{ proposal.capability.applies_to.get_html_link|safe }} declared it
        has now the following diplomatic relationship with
        {{ target_organization.get_html_link|safe}}:
        <b>{{ target_relationship }}</b>.
    {% elif action_type == 'accept' %}
        {{ proposal.capability.applies_to.get_html_link|safe }} accepted
        {{ target_organization.get_html_link|safe}}'s proposal for this new
        diplomatic relationship:
        <b>{{ target_relationship }}</b>.
    {% elif action_type == 'take back' %}
        {{ proposal.capability.applies_to.get_html_link|safe }} has taken
        back it's proposal to {{ target_organization.get_html_link|safe}}'s
        to establish the following diplomatic relationship:
        <b>{{ target_relationship }}</b>.
    {% elif action_type == 'refuse' %}
        {{ proposal.capability.applies_to.get_html_link|safe }} has refused
        {{ target_organization.get_html_link|safe}}'s proposal
        to establish the following diplomatic relationship:
        <b>{{ target_relationship }}</b>.
    {% endif %}
</p>
{% include 'vote_result.html' %}
