<p>
    {% if stance.region %}
        {{ stance.from_organization.get_html_link }}'s
        military stance towards
        {{ stance.to_organization.get_html_link }} in
        {{ stance.region.get_html_link }} is now
        {{ stance.get_stance_type_display }}.
    {% else %}
        {{ stance.from_organization.get_html_link }}'s
        default military stance towards
        {{ stance.to_organization.get_html_link }} is now
        {{ stance.get_stance_type_display }}.
    {% endif %}
</p>
{% include 'messaging/messages/proposal_execution/vote_result.html' %}
