{% extends "messaging/base.html" %}

{% block messaging_content %}

    <form class="form-horizontal" role="form" method="post" action="{% url 'messaging:compose' %}">
        {% csrf_token %}
        <div class="col-lg-5">
            {% if reply_to %}
                <legend>Original message</legend>
                {% include 'messaging/message_body.html' with message=reply_to.message %}
            {% endif %}

            <legend>Message body</legend>
            <div class="form-group">
                <textarea class="form-control"
                          name="message_body"
                          rows="20"
                          id="message_body"
                          placeholder="Enter your text here."
                          maxlength="10000"
                >{{ prefilled_text }}</textarea>
            </div>

            <button type="submit" class="btn btn-primary pull-right">Send</button>
        </div>
        <div class="col-lg-6 col-lg-offset-1">
            {% if target_character %}
                <legend>Sending to</legend>
                <input type="hidden" name="recipient" value="character_{{ target_character.id }}">
                <p>
                    {{ target_character.get_html_link|safe }}
                </p>
            {% elif reply_to %}
                <legend>Sending to</legend>
                <ul>
                    {% for recipient in reply_to.message.get_nice_recipient_list %}
                        <li>{{ recipient.get_html_link|safe }}</li>
                    {% endfor %}
                </ul>

                <input type="hidden" name="reply_to" value="{{ reply_to.id }}">
            {% else %}
                <legend>Recipients by geography</legend>

                <div class="form-group">
                    <input type="checkbox" name="recipient" id="recipient_settlement" value="settlement">
                    <label for="recipient_settlement">Everyone at {{ request.hero.location }} (local settlement)</label>
                    <br>
                    <input type="checkbox" name="recipient" id="recipient_region" value="region">
                    <label for="recipient_region">Everyone at {{ request.hero.location.tile }} (local region)</label>
                </div>

                <legend>Recipients by politics</legend>
                <div class="form-group">
                    {% if request.hero.oath_sworn_to %}
                        <input type="checkbox" name="recipient" id="recipient_liege" value="character_{{ request.hero.oath_sworn_to.get_position_occupier.id }}">
                        <label for="recipient_liege">Your Liege ({{ request.hero.oath_sworn_to.get_html_link|safe }})</label>
                        <br>
                    {% endif %}
                    {% for organization in request.hero.organization_set.all %}
                        {% if not organization.is_position %}
                            <input type="checkbox" name="recipient" id="recipient_organization_{{ organization.id }}" value="organization_{{ organization.id }}">
                            <label for="recipient_organization_{{ organization.id }}">Everyone in {{ organization.get_html_link|safe }}</label>
                            <br>

                            {% if organization.leader %}
                                <input type="checkbox" name="recipient" id="recipient_organization_{{ organization.leader.id }}" value="organization_{{ organization.leader.id }}">
                                <label for="recipient_organization_{{ organization.id }}">{{ organization.leader.get_html_link|safe }}, leader of {{ organization.get_html_link|safe }}</label>
                                <br>
                            {% endif %}
                            {% if organization.owner %}
                                <input type="checkbox" name="recipient" id="recipient_organization_{{ organization.owner.id }}" value="organization_{{ organization.owner.id }}">
                                <label for="recipient_organization_{{ organization.id }}">{{ organization.owner.get_html_link|safe }}, owner of {{ organization.get_html_link|safe }}</label>
                                <br>
                            {% endif %}

                        {% endif %}
                    {% endfor %}
                </div>

                <legend>Personal contacts</legend>
                <div class="form-group">
                    {% for relationship in request.hero.messagerelationship_set.all %}
                        <input type="checkbox" name="recipient" id="recipient_character_{{ relationship.to_character.id }}" value="character_{{ relationship.to_character.id }}">
                        <label for="recipient_character_{{ relationship.to_character.id }}">{{ relationship.to_character.get_html_link|safe }}</label>
                        <a href="{% url 'messaging:remove_contact' relationship.to_character.id %}">
                            <span class="text-danger"><span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span></span>
                        </a>
                        {% if not forloop.last %}<br>{% endif %}
                    {% empty %}
                        None available. To add characters here, visit a charachter's page.
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </form>

{% endblock %}
