<div class="panel panel-default">
    <div class="panel-heading">
        <span class="lead">
            {% if recipient.message.sender %}
                Message from {{ recipient.message.sender.get_html_link }}
            {% else %}
                {{ recipient.message.get_category_display|capfirst }}
            {% endif %}
            {% if recipient.message.link %}
                <a
                        href="{{ recipient.message.link }}"
                        class="btn btn-primary btn-sm"
                >
                    View
                </a>
            {% endif %}
        </span>
        {% if recipient.message.sender %}
            <a
                    href="{% url 'messaging:reply' recipient.id %}"
                    class="btn btn-sm btn-primary pull-right">
                <span class="glyphicon glyphicon-comment" aria-hidden="true"></span> reply
            </a>
        {% endif %}

        <a
                href="{{ recipient.get_mark_read_url }}"
                class="btn btn-sm {% if recipient.read %}btn-success{% else %}btn-default{% endif %} pull-right"
        >
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        </a>

        <a
                href="{{ recipient.get_mark_favourite_url }}"
                class="btn btn-sm {% if recipient.favourite %}btn-success{% else %}btn-default{% endif %} pull-right">
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
        </a>

    </div>
    <div class="panel-body">
        <div class="row">
            {% if recipient.message.sender %}
                <p class="small">
                    For
                    {% for message_recipient in recipient.message.get_nice_recipient_list %}{% if not forloop.first and forloop.last %} and {% elif not forloop.first %}, {% endif %}{{ message_recipient.get_html_link }}{% if forloop.last %}.{% endif %}
                    {% empty %}
                        NOONE?.
                    {% endfor %}
                </p>
            {% endif %}
            <p class="small text-right">
                {{ recipient.message.creation_time }}
            </p>
        </div>
        {% include 'messaging/message_body.html' with message=recipient.message %}
    </div>
</div>
