{% extends "messaging/base.html" %}

{% load extra_filters %}

{% block messaging_content %}

    <div>

        {% for recipient in recipient_list %}
            {% ifchanged %}
                <hr>
                <div class="row">
                    <h5>
                        {{ recipient.message.creation_turn|nice_turn }}
                    </h5>
                </div>
            {% endifchanged %}

            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    {% include 'messaging/message_include.html' %}
                </div>
            </div>
        {% empty %}
            <p>
                No messages.
            </p>
        {% endfor %}
    </div>

{% endblock %}
