{% if winners.count == 1 %}
    <p>
        The elections to {{ election.position.get_html_link|safe }}
        have been won by {{ winner.get_html_link|safe }}.
    </p>
{% elif winners.count == 0 %}
    <p>
        The elections to {{ election.position.get_html_link|safe }}
        resulted in no valid voted. New elections will be convoked
        automatically.
    </p>
{% else %}
    <p>
        The elections to {{ election.position.get_html_link|safe }}
        resulted in a tie. New elections will be convoked
        automatically.
    </p>
{% endif %}
