<h4>Revoke warrant</h4>

{% for warrant in active_warrants %}
    <form class="" role="form" method="post" action="{% url 'organization:arrest_warrant_revoke_capability' capability.id warrant.id %}">
        {% csrf_token %}
        <span class="form-group form-inline">
            {{ warrant.character.get_html_link }}
            <button type="submit" class="btn btn-primary btn-sm" onclick="return confirm('Are you sure?')">revoke warrant</button>
        </span>
    </form>
{% empty %}
    <p>No members</p>
{% endfor %}

<h4>Issue warrant</h4>

{% for candidate in capability.applying_to.world.character_set.all %}
    <form class="" role="form" method="post" action="{% url 'organization:arrest_warrant_capability' capability.id  %}">
        {% csrf_token %}
        <input type="hidden" name="character_to_imprison_id" value="{{ candidate.id }}">
        <span class="form-group form-inline">
            {{ candidate.get_html_link }}
            <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure?')">arrest warrant</button>
        </span>
    </form>
{% empty %}
    <p>No members</p>
{% endfor %}
