<h4>Current default formation</h4>

{% include 'organization/formation_display.html' with formation=capability.applying_to.get_default_formation_settings %}

<h4>Change formation</h4>

<form class="form-horizontal" method="post" action="{% url 'organization:battle_formation_capability' capability.id %}">
    {% csrf_token %}

    <div class="col-md-6">
        <div class="well">
            <h4>Line</h4>

            {% include 'organization/formation_drawing.html' with formation="line" %}

            <p>
                The classic line formation.
            </p>

            <div class="form-group">
                <label for="line_depth">Line depth</label>
                <input class="form-control" id="line_depth" name="line_depth" type="number" min="1" max="10" value="2">
            </div>

            <div class="form-group">
                <label for="line_spacing">Line spacing</label>
                <input class="form-control" id="line_spacing" name="line_spacing" type="number" min="0" max="15" value="3">
            </div>

            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary" name="new_formation" value="line" onclick="return confirm('Are you sure?')">
                    Choose
                </button>
            </div>
        </div>
{% comment %}
        <div class="well">
            <h4>Column</h4>

            {% include 'organization/formation_drawing.html' with formation="column" %}

            <p>
                A column formation.
            </p>

            <div class="form-group">
                <label for="column_width">Column width</label>
                <input class="form-control" id="column_width" name="column_width" type="number" min="1" max="10" value="4">
            </div>

            <div class="form-group">
                <label for="column_spacing">Column spacing</label>
                <input class="form-control" id="column_spacing" name="column_spacing" type="number" min="0" max="15" value="3">
            </div>

            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary" name="new_formation" value="column" onclick="return confirm('Are you sure?')">
                    Choose
                </button>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="well">
            <h4>Square</h4>

            {% include 'organization/formation_drawing.html' with formation="square" %}

            <p>
                Form squares.
            </p>

            <div class="form-group">
                <label for="square_spacing">Square spacing</label>
                <input class="form-control" id="square_spacing" name="square_spacing" type="number" min="0" max="15" value="4">
            </div>

            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary" name="new_formation" value="square" onclick="return confirm('Are you sure?')">
                    Choose
                </button>
            </div>
        </div>

        <div class="well">
            <h4>Wedge</h4>

            {% include 'organization/formation_drawing.html' with formation="wedge" %}

            <p>
                Form a wedge.
            </p>

            <div class="form-group">
                <label for="wedge_spacing">Spacing</label>
                <input class="form-control" id="wedge_spacing" name="wedge_spacing" type="number" min="0" max="10" value="2">
            </div>

            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary" name="new_formation" value="wedge" onclick="return confirm('Are you sure?')">
                    Choose
                </button>
            </div>
        </div>

        <div class="well">
            <h4>Inverted wedge</h4>

            {% include 'organization/formation_drawing.html' with formation="iwedge" %}

            <p>
                Form an inverted wedge.
            </p>

            <div class="form-group">
                <label for="iwedge_spacing">Spacing</label>
                <input class="form-control" id="iwedge_spacing" name="iwedge_spacing" type="number" min="0" max="10" value="2">
            </div>

            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary" name="new_formation" value="iwedge" onclick="return confirm('Are you sure?')">
                    Choose
                </button>
            </div>
        </div>
{% endcomment %}
    </div>

</form>
