{% if not capability.applying_to.current_election %}
    <p>
        You can't present your candidacy in this moment as there is no election currently in progress.
    </p>
{% elif not capability.applying_to.current_election.can_present_candidacy %}
    <p>
        The period to present candidacies is over.
    </p>
{% elif heros_candidacy and heros_candidacy.retired %}
    <p>
        You retired your candidacy in these elections.
    </p>
{% else %}
    <form class="form-horizontal" method="post" action="{% url 'organization:candidacy_capability' capability.id %}">
        <fieldset>
            {% csrf_token %}

            {% if heros_candidacy %}
                <legend>Edit candidacy</legend>
            {% else %}
                <legend>Present candidacy</legend>
            {% endif %}

            <div class="form-group">
                <label for="description" class="col-lg-2 control-label">Your candidacy text</label>
                <div class="col-lg-10">
                    <textarea class="form-control"
                              name="description"
                              rows="20"
                              id="description"
                              placeholder="Why should others vote for you?"
                              maxlength="10000"
                    >{% if heros_candidacy %}{{ heros_candidacy.description }}{% endif %}</textarea>
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button type="submit" class="btn btn-primary">
                        {% if heros_candidacy %}Update{% else %}Create{% endif %}
                    </button>
                </div>
            </div>

        </fieldset>
    </form>

    {% if heros_candidacy %}
        <form class="form-horizontal" method="post" action="{% url 'organization:candidacy_capability' capability.id %}">
            <fieldset>
                {% csrf_token %}
                <input type="hidden" name="retire" value="1">

                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button type="submit"
                                class="btn btn-danger"
                                onclick="return confirm('Are you sure you want to retire your candidacy? You will not be able to undo this.')"
                        >Retire candidacy</button>
                    </div>
                </div>

            </fieldset>
        </form>
    {% endif %}

{% endif %}
