<h3>{{ capability.applying_to.get_html_link }} - {{ target_organization.get_html_link }} relationship</h3>

<div class="col-md-6">
    <h4>Current relationship</h4>
    <p class="lead text-center">{{ relationship_out.get_relationship_html }}</p>
</div>

<div class="col-md-6">

    <h4>Received proposal</h4>
    {% if relationship_in.is_proposal %}
        <div class="lead text-center">
            {{ relationship_in.get_desired_relationship_html }}
            {% include 'organization/capabilities/diplomacy_target_subtemplate.html' with target_relationship='accept' button_type='primary' button_text='Accept' %}
            {% include 'organization/capabilities/diplomacy_target_subtemplate.html' with target_relationship='refuse' button_type='primary' button_text='Refuse' %}
        </div>
    {% else %}
        <p>- none -</p>
    {% endif %}

    <h4>Make proposal</h4>
    <div class="text-center">
        {% if relationship_out.is_proposal %}
            <p class="lead">
                Sent proposal: {{ relationship_out.get_desired_relationship_html }}
            </p>
            {% include 'organization/capabilities/diplomacy_target_subtemplate.html' with target_relationship='take back' button_type='primary' button_text='Take back proposal' %}
        {% else %}
            {% if relationship_out.relationship == 'war' or relationship_out.relationship == 'banned' %}
                {% include 'organization/capabilities/diplomacy_target_subtemplate.html' with target_relationship='peace' button_type='primary' button_text='Make peace' %}
            {% elif relationship_out.relationship == 'peace' %}
                {% include 'organization/capabilities/diplomacy_target_subtemplate.html' with target_relationship='friendship' button_type='primary' button_text='Joint declaration of friendship' %}
            {% elif relationship_out.relationship == 'friendship' %}
                {% include 'organization/capabilities/diplomacy_target_subtemplate.html' with target_relationship='peace' button_type='danger' button_text='Retire declaration of friendship' %}
                {% include 'organization/capabilities/diplomacy_target_subtemplate.html' with target_relationship='defensive alliance' button_type='primary' button_text='Make defensive alliance' %}
                {% include 'organization/capabilities/diplomacy_target_subtemplate.html' with target_relationship='defensive alliance' button_type='primary' button_text='Make full alliance' %}
            {% elif relationship_out.relationship == 'defensive alliance' %}
                {% include 'organization/capabilities/diplomacy_target_subtemplate.html' with target_relationship='friendship' button_type='danger' button_text='End defensive alliance' %}
                {% include 'organization/capabilities/diplomacy_target_subtemplate.html' with target_relationship='defensive alliance' button_type='primary' button_text='Make full alliance' %}
            {% elif relationship_out.relationship == 'alliance' %}
                {% include 'organization/capabilities/diplomacy_target_subtemplate.html' with target_relationship='friendship' button_type='danger' button_text='End alliance' %}
                {% include 'organization/capabilities/diplomacy_target_subtemplate.html' with target_relationship='defensive alliance' button_type='danger' button_text='Downgrate alliance to defensive' %}
            {% endif %}
        {% endif %}
        {% if not relationship_out.relationship == 'war' and not relationship_out.relationship == 'banned' %}
            {% include 'organization/capabilities/diplomacy_target_subtemplate.html' with target_relationship='war' button_type='danger' button_text='Declare war' %}
        {% endif %}
    </div>

</div>
