<p>
    You have been granted to vote for the position {{ capability.applying_to }}.
</p>

{% if not capability.applying_to.current_election %}

    <p>
        You can't vote in this moment as there is no election currently in progress.
    </p>

{% else %}
    {% if capability.applying_to.current_election.can_present_candidacy %}
        <p class="alert alert-warning">
            Please note that up to two months before the election, new candidates may present themselves and existing
            candidates may retire.
        </p>
    {% endif %}

    {% for candidacy in capability.applying_to.current_election.positioncandidacy_set.all %}

        <div class="col-md-6">
            <form class="" role="form" method="post" action="{% url 'organization:elect_capability' capability.id %}">
                {% csrf_token %}
                <input type="hidden" name="candidacy_id" value="{{ candidacy.id }}">
                <div class="panel
                            {% if candidacy.retired %}panel-default
                            {% elif heros_vote.candidacy == candidacy %}panel-success
                            {% else %}panel-primary{% endif %}">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            {{ candidacy.candidate }}
                            {% if candidacy.candidate == capability.applying_to.get_position_occupier %}
                                - {{ capability.applying_to.get_html_link }}
                            {% endif %}
                            {% if candidacy.retired %}(candidate retired)
                            {% elif heros_vote.candidacy == candidacy %}(you voted this)
                            {% endif %}
                        </h3>
                    </div>

                    <div class="panel-body">
                        <pre class="wrapping">{{ candidacy.description }}</pre>

                        {% if not heros_vote and not candidacy.retired %}
                            <span class="form-group form-inline">
                                <button
                                        type="submit"
                                        class="btn btn-primary btn-sm"
                                        onclick="return confirm('Are you sure?')"
                                >
                                    Vote {{ candidacy.candidate }}
                                </button>
                            </span>
                        {% elif heros_vote.candidacy == candidacy %}
                            <p>You voted for this candidate.</p>
                        {% endif %}
                    </div>
                </div>
            </form>
        </div>
    {% empty %}
        <p class="alert alert-warning">No candidates thus far!</p>
    {% endfor %}

{% endif %}
