<p>
    You have been granted the power to start occupation of territories in the name of {{ capability.applying_to }}.
</p>

<h3>Regions that can be conquered</h3>

<p>
    {% for tile in conquestable_tiles %}
        <form class="" role="form" method="post" action="{% url 'organization:conquest_capability' capability.id %}">
            {% csrf_token %}
            <input type="hidden" name="tile_to_conquest_id" value="{{ tile.id }}">
            <span class="form-group form-inline">
                {{ tile.get_html_link|safe }} - controlled by {{ tile.controlled_by.get_violence_monopoly.get_html_link|safe }}
                <button type="submit" class="btn btn-primary btn-sm" onclick="return confirm('Are you sure?')">
                    Start conquest
                </button>
            </span>
        </form>
        <br>
    {% empty %}
        None
    {% endfor %}
</p>

{% if conquests_in_progress %}
    <h3>Conquests in progress</h3>
    <p>
        {% for conquest in conquests_in_progress %}
            <form class="" role="form" method="post" action="{% url 'organization:conquest_capability' capability.id %}">
                {% csrf_token %}
                <input type="hidden" name="tile_to_conquest_id" value="{{ conquest.tile.id }}">
                <input type="hidden" name="stop" value="1">
                <span class="form-group form-inline">
                    {{ conquest.tile.get_html_link|safe }} - controlled by {{ conquest.tile.controlled_by.get_violence_monopoly.get_html_link|safe }}
                    <button type="submit" class="btn btn-primary btn-sm" onclick="return confirm('Are you sure?')">
                        Stop
                    </button>
                </span>
            </form>
            <br>
        {% endfor %}
    </p>
{% endif %}
