{% extends "base/base.html" %}

{% block content %}

    <h1 class="page-header">Hi {{ user.username|capfirst }}</h1>

    <div class="col-md-6 well well-lg">
        {% for message in server_messages %}
            <h2>{{ message.title }}</h2>
            {{ message.html_content|safe }}
        {% empty %}
            <p>
                Because there is no MOTD configured, let me sing this sweet song.
            </p>
            <p>
                Don't worry about a thing<br>
                'Cause every little thing gonna be alright<br>
                Singing' don't worry about a thing<br>
                'Cause every little thing gonna be alright<br>
            </p>
            <p>
                Rise up this mornin'<br>
                Smiled with the risin' sun<br>
                Three little birds<br>
                Pitch by my doorstep<br>
                Singin' sweet songs<br>
                Of melodies pure and true<br>
                Saying', (this is my message to you)<br>
            </p>
            <p>
                Singing' don't worry 'bout a thing<br>
                'Cause every little thing gonna be alright<br>
                Singing' don't worry (don't worry) 'bout a thing<br>
                <a href="https://www.youtube.com/watch?v=LanCLS_hIo4">'Cause every little thing gonna be alright</a>
            </p>
        {% endfor %}
    </div>

    <div class="col-md-6">
        <h2>Your characters</h2>
        <table class="table table-hover">
            <tbody>
                {% for character in user.character_set.all %}
                    <tr>
                        <td style="vertical-align: middle">
                            {{ character.get_html_name|safe }}
                            {% if character.unread_messages.exists %}
                                <span class="badge">{{ character.unread_messages.count }}</span>
                            {% endif %}
                        </td>
                        <td style="vertical-align: middle">
                            {{ character.location }}
                        </td>
                        <td style="vertical-align: middle" class="text-right">
                            <a href="{{ character.activation_url }}" class="btn btn-primary">Enter</a>
                        </td>
                    </tr>
                {% empty %}
                    <tr><td colspan="100%">You don't have any... yet!</td></tr>
                {% endfor %}
            </tbody>

        </table>

        <p class="text-center">
            {% if can_create_character %}
                <a class="btn btn-primary"
                   href="{% url 'world:create_character' %}">
                    Create a new character
                </a>
            {% else %}
                You reached the character limit
            {% endif %}
        </p>
    </div>

{% endblock %}
