{% extends "base/base.html" %}

{% block content %}

    <h1 class="page-header">Hi {{ user.username|capfirst }}</h1>

    <div class="col-md-6 well well-lg">
        {% if not user.character_set.exists %}
            <h2>The fundamentals (read me please)</h2>

            {% include 'help/fundamental_content.html' %}

            <hr>

            <h2>News</h2>
        {% endif %}
        {% for message in server_messages %}
            <h3>{{ message.title }}</h3>
            {{ message.html_content|safe }}
        {% empty %}
            <p>None configured.</p>
        {% endfor %}
    </div>

    <div class="col-md-6">
        <h2>Your characters ({{ user.character_set.count }}/4)</h2>
        <table class="table table-hover">
            <tbody>
                {% for character in user.character_set.all %}
                    <tr>
                        <td style="vertical-align: middle">
                            {{ character.get_html_name|safe }}
                            {% if character.unread_messages.exists %}
                                <span class="badge">
                                    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                                    {{ character.unread_messages.count }}
                                </span>
                            {% endif %}
                            <br>
                            {{ character.get_profile_display|capfirst }}
                        </td>
                        <td style="vertical-align: middle">
                            {{ character.location }}, {{ character.location.tile }}
                        </td>
                        <td style="vertical-align: middle" class="text-right">
                            <a href="{{ character.activation_url }}" class="btn btn-primary">Enter</a>
                        </td>
                    </tr>
                {% empty %}
                    <tr><td colspan="100%">You don't have any... yet!</td></tr>
                {% endfor %}
            </tbody>

        </table>

        <p class="text-center">
            {% if can_create_character %}
                <a class="btn btn-primary"
                   href="{% url 'world:create_character' %}">
                    Create a new character
                </a>
            {% else %}
                You reached the character limit
            {% endif %}
        </p>
    </div>

{% endblock %}
