{% extends "base/base_naked.html" %}

{% load staticfiles %}

{% block body %}

    <script src="{% static 'world/3rd/three.min.js' %}?{{ git_rev }}"></script>
    <script src="{% static 'world/3rd/OrbitControls.js' %}?{{ git_rev }}"></script>
    <script src="{% static 'world/base_renderer.js' %}?{{ git_rev }}"></script>
    <script src="{% static 'world/battle_renderer.js' %}?{{ git_rev }}"></script>

    <script>
        function show_info(contubernium) {
            var contubernium_in_turn = contubernium.in_turn[map.showing_turn];
            var unit = map.units[contubernium.unit_id];
            var character = map.characters[unit.character_id];
            var organization = map.organizations[unit.organization_id];

            $('#unit_name').text(unit.name);
            $('#char_name').text(character.name);

            var action_string = '';
            if (contubernium_in_turn.attack_target === null) {
                action_string = 'Not attacking';
            } else {
                action_string = contubernium_in_turn.attack_type +
                    ' attack on ' +
                    map.units[map.contubernia[contubernium_in_turn.attack_target].unit_id].name;
            }
            $('#action').text(action_string);

            var soldier_string = '';
            for (soldier_index in contubernium_in_turn.soldiers) {
                soldier = contubernium_in_turn.soldiers[soldier_index];
                soldier_string += '●◕◑◔'.substring(soldier['wound_status'], 1);
            }
            $('#soldiers').text(soldier_string);
            $('#org_name').text(organization.name);


            var unit_info_el = $('#unit_info');
            unit_info_el.show();
            var hover_hint_el = $('#hover_hint');
            hover_hint_el.hide();
        }

        function clear_info() {
            var unit_info_el = $('#unit_info');
            unit_info_el.hide();
            var hover_hint_el = $('#hover_hint');
            hover_hint_el.show();
        }

        function info_callback(contubernium) {
            if (contubernium === undefined) {
                if (map.clicked_contubernium === undefined) {
                    clear_info()
                } else {
                    show_info(map.clicked_contubernium)
                }
            } else {
                show_info(contubernium)
            }
        }

        var map;
        $(function () {
            map = new BattleRenderer({{ battle_data|safe }});
            map.renderer.add_orbit_controls();
            map.hover_callback = info_callback;
        })
    </script>

    <div class="battlefield_turn_controls text-center">
        <button onclick="map.turn_back()" class="btn btn-default">
            <span class="glyphicon glyphicon-fast-backward" aria-hidden="true"></span>
        </button>
        <button onclick="map.step_back()" class="btn btn-default">
            <span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span>
        </button>

        <span id="current_turn_display"></span>/<span id="total_turn_display"></span>

        <button onclick="map.step_fwd()" class="btn btn-default">
            <span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span>
        </button>
        <button onclick="map.turn_fwd()" class="btn btn-default">
            <span class="glyphicon glyphicon-fast-forward" aria-hidden="true"></span>
        </button>
    </div>

    <div class="battlefield_unit_info text-right">
        <div id="hover_hint">
            Hover over a unit to see more information
        </div>
        <div id="unit_info">
            <div class="lead" id="unit_name"></div>
            <div>
                <span id="char_name"></span>, <span id="org_name"></span>
            </div>
            <div id="soldiers"></div>
            <div id="action"></div>
        </div>
    </div>

{% endblock %}
