<ul class="nav nav-tabs nav-justified">
    <li role="presentation" {% if active == 'info' %}class="active"{% endif %}>
        <a href="{% url 'battle:info' battle.id %}">Battle information</a>
    </li>
    {% if battle.started %}
        <li role="presentation" {% if active == 'battlefield' %}class="active"{% endif %}>
            <a href="{% url "battle:battlefield" battle.id %}">
                <span class="flaticon-sword-1" aria-hidden="true"></span>
                BATTLEFIELD
                <span class="flaticon-sword-1" aria-hidden="true"></span>
            </a>
        </li>
    {% endif %}
</ul>
