{% extends "base/base.html" %}

{% load staticfiles %}

{% block content %}

    <h1 class="page-header">
        {% if battle.current %}
            Current battle in {{ battle.tile.get_html_link|safe }}
        {% else %}
            Battle in {{ battle.tile.get_html_link|safe }}
        {% endif %}
    </h1>

    {% if battle.started %}
        <p class="text-center">
            <a href="{% url "battle:battlefield" battle.id %}" class="btn btn-primary">
                Show battlefield
            </a>
        </p>
    {% endif %}

    <div class="row">
        <div class="col-sm-5">
            {% include 'battle/render_side_tree.html' with side=battle.get_side_a %}
        </div>

        <div class="col-sm-2 text-center">
            <h1>VS</h1>
        </div>

        <div class="col-sm-5">
            {% include 'battle/render_side_tree.html' with side=battle.get_side_b %}
        </div>
    </div>

{% endblock %}
