<ul>
    {% for battle_organization in side.battleorganization_set.all %}
        <li class="lead">{{ battle_organization.organization.get_html_link|safe }}</li>

        <ul>
            {% for battle_unit in battle_organization.battleunit_set.all %}

                <li>
                    <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
                    {{ battle_unit.starting_manpower }}
                    {{ battle_unit.type }}:
                    {{ battle_unit.world_unit.name }}
                    {% if battle_unit.owner %}
                        <ul><li>
                            {{ battle_unit.owner.character.get_html_link|safe }}
                        </li></ul>
                    {% endif %}
                </li>

            {% empty %}
                <li>No one</li>
            {% endfor %}
        </ul>

    {% empty %}
        <li>No one</li>
    {% endfor %}
</ul>
