{% extends "base/base.html" %}

{% block content %}

    <div class="row">
        <div class="col-xs-12 col-md-6">
            <h1 class="page-header">Start your base!</h1>
            <p>
                Lorem
            </p>
        </div>
        <form method="post" action="{% url 'base:login' %}">
            <div class="col-xs-12 col-md-6">
                <h3>Choose your market</h3>

                <div class="form-group">
                    {% for market in markets %}
                        <div class="radio">
                            <label>
                                <input type="radio" name="market" value="{{ market.pk }}" checked="">
                                <b>{{ market.name }}</b><br>
                                <small>{{ market.description }}</small>
                            </label>
                        </div>
                    {% endfor %}
                </div>

                <h3>Choose your character</h3>
                <p>
                    Lorem
                </p>
            </div>
        </form>
    </div>
{% endblock %}
