{% load staticfiles %}

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'base:home' %}">Finem Imperii</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">
                {% if user.is_authenticated %}
                    <li class="active"><a href="{% url 'base:home' %}">Home <span class="sr-only">(current)</span></a></li>
                    <li class="dropdown">

                        {% if request.hero %}
                            <a href="{{ request.hero.activation_url }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                {{ request.hero }}
                                <span class="caret"></span>
                            </a>
                        {% else %}
                            <a href="{% url 'account:home' %}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                Choose a character
                                <span class="caret"></span>
                            </a>
                        {% endif %}

                        <ul class="dropdown-menu" role="menu">
                            {% for character in user.character_set.all %}
                                <li><a href="{{ character.activation_url }}">{{ character.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li><a href="#">Help</a></li>
                {%  else %}
                    <li class="active"><a href="{% url 'base:home' %}">Home <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="{% url 'account:register' %}">Join</a></li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <li><a href="{% url 'account:logout' %}">Logout</a></li>
                {%  else %}
                    <li><a href="{% url 'account:login' %}">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
