{% extends "base/base.html" %}

{% block content %}

    <h1 class="page-header">{{ capability.get_type_display|capfirst }}</h1>

    <p class="alert alert-info">
        You are doing this to <a href="{{ capability.applying_to.get_absolute_url }}">{{ capability.applying_to }}</a>
        as <a href="{{ capability.organization.get_absolute_url }}">{{ capability.organization }}</a>.

        {% if capability.stemming_from %}
            <br>
            This capability has been delegated by <a href="{{ capability.stemming_from.get_absolute_url }}">
            {{ capability.stemming_from.organization }}</a>.
        {% endif %}

        {% if not capability.organization.is_position %}
            {% if capability.organization.decision_taking == 'democratic' %}
                <p>
                    <b>Please note:</b> because {{ capability.organization }} is organized democratically, using these
                    powers won't immediately take effect. Instead, a proposal will be created that will have to be voted
                    by the members of {{ capability.organization }}.
                </p>
            {% elif capability.organization.decision_taking == 'distributed' %}
            {% endif %}
        {% endif %}
    </p>

    {% include subtemplate %}

{% endblock %}
