{% extends "base/base.html" %}

{% load extra_filters %}

{% block content %}

    <h1 class="page-header">{{ document.title }}</h1>
    
    <p>
        Back to <a href="{{ document.organization.get_absolute_url }}">
        {{ document.organization }}</a>
    </p>

    {% if document.parent %}
        <p>
            Parent: <a href="{{ document.parent.get_absolute_url }}">{{ document.parent }}</a>
        </p>
    {% endif %}

    <pre style="white-space: pre-wrap;">{{ document.body }}</pre>

    <p>
        {% if document.public %}Public{% else %}Private{% endif %} document.
    </p>

    <p>
        Last edited {{ document.last_modified_turn|nice_turn }}.
    </p>

{% endblock %}
