{% extends "base/base.html" %}

{% block content %}

    <h1 class="page-header">{{ organization }} - documents</h1>
    
    <p>
        Back to <a href="{{ organization.get_absolute_url }}">{{ organization }}</a>
    </p>

    <h4>Documents</h4>
    <ul>
        {% for document in organization.policydocument_set.all %}
            {% if not document.parent %}{% if document.public or hero_is_member %}
                {% include 'organization/document_tree_inc.html' with document=document show_private=hero_is_member %}
            {% endif %}{% endif %}
        {% endfor %}
    </ul>

    <p>
        <a class="btn btn-primary" href="">New document</a>
    </p>

{% endblock %}
