{% load staticfiles %}
<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Finem Imperii</title>

        <!-- Bootstrap -->
        <link rel="stylesheet" type="text/css" href="{% static 'base/3rd/css/bootstrap.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'base/3rd/css/bootstrap.theme.min.css' %}" />

        <!-- custom stylings -->
        <link rel="stylesheet" type="text/css" href="{% static 'base/3rd/css/sticky-footer.css' %}" />

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="{% static 'base/3rd/js/jquery.min.js' %}"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->

        <!-- Latest compiled and minified JavaScript -->
        <script src="{% static 'base/3rd/js/bootstrap.min.js' %}"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
                crossorigin="anonymous"></script>

        <!-- Chart.js -->
        <script src="{% static 'base/3rd/js/Chart.bundle.min.js' %}"
                crossorigin="anonymous"></script>
    </head>
    <body class="body">
        {% block body %}{% endblock %}
    </body>
</html>
