{% extends 'base/base_naked.html' %}

{% load cookielaw_tags %}
{% load static %}

{% block body %}

    <!-- Gitter -->
    <script src="https://sidecar.gitter.im/dist/sidecar.v1.js" async
            defer></script>
    <script>
        ((window.gitter = {}).chat = {}).options = {
            room: 'finemimperii/Lobby',
            activationElement: false
        };
    </script>

    <!-- cookie law -->
    <script src="{% static 'cookielaw/js/cookielaw.js' %}?{{ git_rev }}"></script>

    {% include "base/topnav.html" %}

    <div class="container-fluid">
        {% cookielaw_banner %}

        {% if request.hero and not hide_sidebar %}
            <div class="col-xs-12 col-md-3 well">
                <iframe
                        id="minimap"
                        class="placeholder minimap"
                        scrolling="no"
                        src="{% url 'world:minimap' %}"
                ></iframe>

                <p class="text-center">
                    {{ request.hero.location.tile.get_html_link|safe }}
                    is controlled by
                    {{ request.hero.location.tile.controlled_by.get_violence_monopoly.get_html_link|safe }}.
                </p>

                {% for battle in request.hero.location.tile.get_current_battles %}
                    <p class="text-center">
                        <a href="{{ battle.get_absolute_url }}" class="btn btn-danger">
                            Battle in progress
                        </a>
                    </p>
                {% endfor %}

                <hr>

                <h5>Your position</h5>
                <ul>
                    {% for organization in request.hero.organization_set.all %}
                        <li>
                            {% if not organization.is_position %}Member of{% endif %}
                            {{ organization.get_html_link|safe }}
                        </li>
                    {% endfor %}
                </ul>

                <table class="table table-striped table-hover">
                    <thead>
                        <tr><td class="h5">Your units</td></tr>
                    </thead>
                    <tbody>
                        {% for unit in request.hero.worldunit_set.all %}
                            <tr>
                                <td>
                                    {{ unit.get_html_link|safe }}
                                    {% if unit.get_current_battle %}
                                        <a
                                                href="{{ unit.get_current_battle.get_absolute_url }}"
                                                class="btn btn-danger btn-sm"
                                        >Battle</a>
                                    {% endif %}
                                </td>
                                <td>
                                    {{ unit.status|capfirst }}
                                </td>
                            </tr>
                        {% empty %}
                            <tr><td class="text-center">
                                You own no units.
                                {% if request.hero.can_conscript_unit %}
                                    <a href="{% url 'unit:recruit' %}">
                                        Recruit</a>.
                                {% endif %}
                                {% if request.hero.can_raise_unit %}
                                    <a href="{% url 'unit:raise' %}">
                                        Raise</a>.
                                {% endif %}
                            </td></tr>
                        {% endfor %}
                    </tbody>
                </table>

                <span class="pull-right">
                    <a href="{% url 'character:inventory' %}" class="btn btn-sm btn-primary">
                        Manage
                    </a>
                </span>
                <h5>Your inventory</h5>

                <ul>
                    <li>{{ request.hero.cash }} silver coins</li>
                    {% for item in request.hero.inventoryitem_set.all %}
                        <li>{{ item }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-xs-12 col-md-9">
        {% endif %}

        {% include 'base/messages.html' %}

        <div style="margin: 12px">
            {% block content %}{% endblock %}
        </div>

        {% if request.hero and not hide_sidebar %}
            </div>
        {% endif %}
    </div>

    <footer class="footer">
        <div class="container">
            <p class="text-muted">
                <a href="{% url 'help:about' %}">Finem Imperii</a> - {% include 'base/build.html' %}
            </p>
        </div>
    </footer>
{% endblock %}
