{% extends "base/base.html" %}

{% block content %}

    <div class="col-xs-12 col-md-8 jumbotron">
        <h1 class="page-header">The Empire has fallen</h1>
        <p>
            After seven prosper centuries of peace under the rule of the Empire, it entered a stage of spiralling
            decadence. Not even the noblest rulers, the brightest bureaucrats or bravest generals were able to stop it.
            They were too few of them amongst the corrupt, the lazy and the feckless. What seemed impossible in the
            past, what was for many even unthinkable, happened in just a few decades: the Empire <i>fell</i>.
        </p>
        <p>
            It has now been over a hundred years of bloody civil wars, anarchy, shameless corruption and violence that
            has profoundly decimated the population. Trust in leaders became trait to be exploited. The future looked
            grim. But now new states and rulers are starting to rise again, bringing the people the hope of seeing order
            and peace restored.
        </p>
        <p>
            Who will be able to bring hope and dignity to the world? Will you help bringing the golden days
            of the Empire back?
        </p>

        <h2>Introduction</h2>
        <p>
            Finem Imperii is a web-based role-strategy multiplayer game. Characters are part of a long-lived open
            persistent world placed in the late middle ages, where they will usually take the role of prominent members
            of society (e.g. commanders, traders, treasurers, rulers). Cooperation among players is a core part of the
            game, and is required for most scenarios.
        </p>
        <p>
            Unlike other games, the players do not need to log-in frequently or at certain times. Also, the level of
            deepness and involvement can be variable, and there is no benefit from spending large amounts of time
            playing. There is no fixed objective in this game, but there are many open possibilities for the players.
        </p>
        <p>
            You can <a href="{% url 'account:register' %}">create an account</a> for free if you don't have one yet.
            Else, <a href="{% url 'account:login' %}">log-in</a> and continue playing.
        </p>
        <p>
            Fiinem Imperii is free software. Feel free to
            <a href="https://github.com/jardiacaj/finem_imperii">contribute</a>.
        </p>
    </div>
    <div class="col-xs-12 col-md-4">
        <h3>News</h3>
        <h4>In development <small>today</small></h4>
        <p>
            Lorem
        </p>
    </div>
{% endblock %}
