{% load static %}
{% load extra_filters %}

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'base:home' %}">Finem Imperii</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">

                {% if user.is_authenticated %}

                    <li class="dropdown">
                        <a href="{% url 'account:home' %}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            {% if request.hero %}Switch{% else %}Choose character{% endif %}
                            <span class="caret"></span>
                        </a>

                        <ul class="dropdown-menu" role="menu">
                            {% for character in user.character_set.all %}
                                {% if not character.paused %}
                                    <li><a href="{{ character.activation_url }}">
                                        {{ character.get_html_name|safe }}
                                    </a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>

                    </li>

                    {% if request.hero %}
                        <li><p class="navbar-text">
                            {{ request.hero.hours_in_turn_left }}
                            hours left
                        </p></li>

                        <li class="{% if request.hero.unread_messages.exists %}active{% endif %}">
                            <a href="{% url 'messaging:home' %}" class="{% if request.hero.unread_messages.exists %}active{% endif %}">
                                Messages
                                {% if request.hero.unread_messages.exists %}
                                    <span class="badge">
                                        <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                                        {{ request.hero.unread_messages.count }}
                                    </span>
                                {% endif %}
                            </a>
                        </li>

                        <li>
                            <a href="{% url 'messaging:compose' %}">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                            </a>
                        </li>

                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                Politics
                                <span class="caret"></span>
                            </a>

                            <ul class="dropdown-menu" role="menu">
                                {% for organization in request.hero.organization_set.all %}
                                    <li>
                                        {{ organization.get_html_link|safe }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>

                        {% if request.hero.worldunit_set.exists %}
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                    Units
                                    <span class="caret"></span>
                                </a>

                                <ul class="dropdown-menu" role="menu">
                                    {% for unit in request.hero.worldunit_set.all %}
                                        <li class="nav-inline-links">
                                            {{ unit.get_html_link|safe }}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endif %}

                        {% if request.hero.possible_common_actions %}
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                    Actions
                                    <span class="caret"></span>
                                </a>

                                <ul class="dropdown-menu" role="menu">
                                    {% for action_name, action in request.hero.possible_common_actions %}
                                        <li>
                                            <a href="{{ action.url }}">
                                                {{ action.nice_name }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endif %}

                    {% endif %}

                {%  else %}

                    <li><a href="{% url 'account:register' %}">Join</a></li>
                    <li><a href="{% url 'help:about' %}">About</a></li>

                {% endif %}

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="navbar-text">
                     Server time: {% now "H:i" %}
                </li>

                {% if user.is_staff %}
                    <li class="dropdown">
                        <a href="/admin" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            Admin
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/admin">Django admin</a></li>
                            {% if request.hero %}
                                <li>
                                    <form action="/admin/world/world/" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="action" value="pass_turn">
                                        <input type="hidden" name="select_across" value="0">
                                        <input type="hidden" name="index" value="0">
                                        <input type="hidden" name="_selected_action" value="{{ request.hero.world.id }}">
                                        <button type="submit" class="btn btn-default">
                                            Pass turn
                                        </button>
                                    </form>
                                <li><a href="{{ request.hero.world.get_admin_url }}">Edit world</a></li>
                            {% endif %}
                            {% if displayed_object %}
                                <li><a href="{{ displayed_object.get_admin_url }}">Edit {{ displayed_object }}</a></li>
                            {% endif %}
                        </ul>
                    </li>
                {% endif %}
                <li>
                    <a href="#" class="js-gitter-toggle-chat-button">Chat</a>
                </li>
                <li><a href="{% url 'help:home' %}">Game Manual</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'account:logout' %}">Logout ({{ user }})</a></li>
                {%  else %}
                    <li><a href="{% url 'account:login' %}">Login</a></li>
                {% endif %}
            </ul>
        </div>

        {% if user.is_authenticated and request.hero %}
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-3">
                <ul class="nav navbar-nav">

                    <li class="active">
                        <a href="{{ request.hero.activation_url }}" class="active">
                            {{ request.hero.get_html_name|safe }}
                        </a>
                    </li>

                    <li class="navbar-text nav-inline-links">
                        You are in
                        {{ request.hero.location }},
                        a {{ request.hero.location.size_name }} in
                        {{ request.hero.location.tile.get_html_link|safe }},
                        {{ request.hero.location.tile.controlled_by.get_violence_monopoly.get_html_link|safe }}
                        terrotory
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li class="navbar-text nav-inline-links">
                        It's {{ request.hero.world.get_current_date }} in
                        <a href="{{ request.hero.world.get_absolute_url }}">
                            {{ request.hero.world }}
                            <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
                        </a>
                    </li>
                </ul>

            </div>
        {% endif %}
    </div>
</nav>
