<a href="#" data-toggle="modal" data-target="#public_order_work_modal">
    Public order work
</a>

<!-- Modal -->
<div class="modal fade" id="public_order_work_modal" tabindex="-1"
     role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form class="form-horizontal" method="post"
                  action="{% url 'character:public_order' %}">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">
                        Public order work
                    </h4>
                </div>
                <div class="modal-body">
                    {% csrf_token %}
                    <p>
                        As a bureaucrat, you can work to improve
                        public order in the settlement you are currently
                        located: {{ request.hero.location }}.
                    </p>

                    <div class="form-group">
                        <label for="hours" class="col-sm-3 control-label">
                            Hours
                        </label>
                        <div class="col-sm-9">
                            <input class="form-control"
                                   id="hours"
                                   name="hours"
                                   placeholder="max {{ request.hero.hours_in_turn_left }}"
                                   type="number"
                                   max="{{ hours_in_turn_left }}"
                            >
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                            data-dismiss="modal">Close
                    </button>
                    <button type="submit" class="btn btn-primary">
                        Work
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
