{% extends "base/base.html" %}

{% load bootstrap %}
{% load extra_filters %}

{% block content %}

    <h1 class="page-header">
        {{ request.hero.get_html_name|safe }}
        <small>
            {{ request.hero.profile|capfirst }}
        </small>
    </h1>

    <div class="col-md-6">
        <p class="lead">
            {% if request.hero.unread_messages.exists %}
                You have <a href="{% url 'messaging:home' %}">
                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                {{ request.hero.unread_messages.count }} new messages</a>.
            {% else %}
                You have no new messages.
            {% endif %}
        </p>

        <h4><small>Common actions</small></h4>

        <ul>
            <li>
                <a href="{% url 'character:travel' %}">Travel</a>
                {% if not request.hero.can_travel %}
                    (you can't travel right now)
                {% endif %}
            </li>
            <li>
                <a href="{% url 'character:inventory' %}">
                    Manage your inventory
                </a>
            </li>
            <li>
                <a href="{% url 'messaging:compose' %}">
                    Write a message
                </a>
            </li>

            {% if request.hero.can_do_bureaucratic_work %}
                <li>
                    <a href="{% url 'character:bureaucratic_work' %}">
                        Bureaucratic work
                    </a>
                </li>
            {% endif %}
        </ul>

        <h4><small>Units</small></h4>

        <p>
            Unit limits: You may control up to
            {{ request.hero.max_soldiers }} soldiers in
            up to {{ request.hero.max_units }} units.
        </p>

        <ul>
            <li>
                <a href="{% url 'unit:recruit' %}">
                    Recruit a new unit
                </a>
                {% if not request.hero.can_conscript_unit %}
                    (you can't right now)
                {% endif %}
            </li>
            <li>
                <a href="{% url 'unit:raise' %}">
                    Raise a new unit
                </a>
                {% if not request.hero.can_raise_unit %}
                    (you can't right now)
                {% endif %}
            </li>
            <li>Manage your existing units</li>
        </ul>

    </div>

    <div class="col-md-6">
        <h4><small>Proposals</small></h4>
        <ul>
            {% for organization in request.hero.organization_set.all %}
                {% for proposal in organization.get_open_proposals.all %}
                    <li>
                        <a href="{{ proposal.get_absolute_url }}">
                            {{ proposal|capfirst }}
                        </a>
                    </li>
                {% endfor %}
            {% endfor %}
        </ul>

        <h4><small>Elections</small></h4>
        <ul>
            {% for election in current_elections %}
                <li>
                    <a href="{{ election.get_absolute_url }}">
                        {{ election }}
                    </a>
                </li>
                {% empty %}
                No ongoing elections
            {% endfor %}

            {% for organization in request.hero.organization_set.all %}
                {% if organization.current_election %}
                    <li>
                        <a href="{{ organization.current_election.get_absolute_url }}">
                            Elections for {{ organization.get_html_name }}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>

        <h4><small>Capabilities</small></h4>

        <ul>
            {% for organization in request.hero.organization_set.all %}
                {% for capability in organization.capability_set.all %}
                    <li>
                        <a href="{{ capability.get_absolute_url }}">
                            {{ capability.organization.get_short_html_name }}:
                            {{ capability.get_type_display|capfirst }}
                            {% if capability.applying_to != organization %}
                                -&gt; {{ capability.applying_to.get_short_html_name|safe }}
                            {% endif %}
                        </a>
                    </li>
                {% endfor %}
            {% endfor %}
        </ul>

        <h4><small>Diary</small></h4>
        <table class="table">
            {% for event in request.hero.characterevent_set.all.reverse %}
                <tr>
                    <td>{{ event.start_turn|nice_turn }}</td>
                    <td>{{ event.get_html|safe }}</td>
                    <td>
                        {% if event.hour_cost %}
                            {{ event.hour_cost }} hours
                        {% else %}
                            --
                        {% endif %}
                    </td>
                </tr>
            {% empty %}
                <tr><td>No events.</td></tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}
