{% extends "base/base.html" %}

{% load bootstrap %}
{% load extra_filters %}

{% block content %}

    <h1 class="page-header">
        {{ request.hero.get_html_name|safe }}
        <small>
            {{ request.hero.profile|capfirst }}
        </small>
    </h1>

    <div class="col-md-6">
        <p class="lead">
            {% if request.hero.unread_messages.exists %}
                You have <a href="{% url 'messaging:home' %}">
                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                {{ request.hero.unread_messages.count }} new messages</a>.
            {% else %}
                You have no new messages.
            {% endif %}
        </p>

        <h4><small>Common actions</small></h4>

        <ul>
            <li>
                <a href="{{ request.hero.get_absolute_url }}">
                    Check out your status
                </a>
            </li>
            <li>
                {% if request.hero.can_travel %}
                    <a href="{% url 'character:travel' %}">Travel</a>
                {% else %}
                    Travel (you can't travel right now)
                {% endif %}
            </li>
            <li>
                <a href="{% url 'character:inventory' %}">
                    Manage your inventory
                </a>
            </li>
            <li>
                <a href="{% url 'messaging:compose' %}">
                    Write a message
                </a>
            </li>
        </ul>

        <h4><small>Abilities</small></h4>

        <ul>
            {% if request.hero.can_work_public_order %}
                <li>
                    {% include 'character/bureaucrat_public_order_work_modal_include.html' %}
                </li>
            {% endif %}
        </ul>

        <h4><small>Units</small></h4>

        <p>
            You may control up to {{ request.hero.max_soldiers }} soldiers
            distributed in up to {{ request.hero.max_units }} units.
        </p>

        <ul>
            <li>
                {% if request.hero.has_conscripting_capability_in_current_location %}
                    <a href="{% url 'unit:recruit' %}">
                        Recruit a new unit
                    </a>
                {% else %}
                    Recruit a new unit (you can't recruit right now)
                {% endif %}
            </li>
            <li>Manage your existing units</li>
        </ul>

    </div>

    <div class="col-md-6">
        <h4><small>Proposals</small></h4>
        <h4><small>Elections</small></h4>

        {% for organization in request.hero.organization_set.all %}
            <p class="lead">
                {{ organization.get_html_link|safe }}
            </p>

            {% if organization.current_election %}
                <p>
                    <a href="{{ organization.current_election.get_absolute_url }}" class="btn btn-sm btn-primary button_margin">
                        Election to {{ organization.get_html_name|safe }}
                    </a>
                </p>
            {% endif %}
            {% for election in organization.current_elections_can_vote_in %}
                <a href="{{ election.get_absolute_url }}" class="btn btn-sm btn-primary button_margin">
                    Election to {{ election.applying_to.get_html_name|safe }}
                </a>
            {% endfor %}
            {% for proposal in organization.get_open_proposals.all %}
                <p>
                    <a href="{{ proposal.get_absolute_url }}" class="btn btn-sm btn-primary button_margin">
                        {{ proposal|capfirst }}
                    </a>
                </p>
            {% endfor %}
            <p>
                {% for capability in organization.capability_set.all %}
                    <a href="{{ capability.get_absolute_url }}" class="btn btn-primary btn-sm button_margin">
                        {{ capability.get_type_display|capfirst }}
                        {% if capability.applying_to != organization %}
                            in {{ capability.applying_to.get_html_name|safe }}
                        {% endif %}
                    </a>
                {% empty %}
                    None
                {% endfor %}
            </p>
        {% endfor %}
    </div>

{% endblock %}
