{% extends "base/base.html" %}

{% load bootstrap %}
{% load extra_filters %}

{% block content %}

    <h1 class="page-header">
        {{ request.hero.get_html_name|safe }}
        <small>
            {{ request.hero.profile|capfirst }}
        </small>
    </h1>

    <div class="col-md-6">
        <p class="lead">
            {% if request.hero.unread_messages.exists %}
                You have <a href="{% url 'messaging:home' %}">
                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                {{ request.hero.unread_messages.count }} new messages</a>.
            {% else %}
                You have no new messages.
            {% endif %}
        </p>

        <h4><small>Common actions</small></h4>

        <ul>
            <li>
                <a href="{{ request.hero.get_absolute_url }}">
                    Check out your status
                </a>
            </li>
            <li>
                {% if request.hero.can_travel %}
                    <a href="{% url 'character:travel' %}">Travel</a>
                {% else %}
                    Travel (you can't travel right now)
                {% endif %}
            </li>
            <li>
                <a href="{% url 'character:inventory' %}">
                    Manage your inventory
                </a>
            </li>
            <li>
                <a href="{% url 'messaging:compose' %}">
                    Write a message
                </a>
            </li>
        </ul>

        <h4><small>Abilities</small></h4>

        <ul>
            {% if request.hero.can_work_public_order %}
                <li>
                    {% include 'character/bureaucrat_public_order_work_modal_include.html' %}
                </li>
            {% endif %}
        </ul>

        <h4><small>Units</small></h4>

        <p>
            You may control up to {{ request.hero.max_soldiers }} soldiers
            distributed in up to {{ request.hero.max_units }} units.
        </p>

        <ul>
            <li>
                {% if request.hero.has_conscripting_capability_in_current_location %}
                    <a href="{% url 'unit:recruit' %}">
                        Recruit a new unit
                    </a>
                {% else %}
                    Recruit a new unit (you can't recruit right now)
                {% endif %}
            </li>
            <li>Manage your existing units</li>
        </ul>

    </div>

    <div class="col-md-6">
        <h4><small>Proposals</small></h4>
        <ul>
            {% for organization in request.hero.organization_set.all %}
                {% for proposal in organization.get_open_proposals.all %}
                    <li>
                        <a href="{{ proposal.get_absolute_url }}">
                            {{ proposal|capfirst }}
                        </a>
                    </li>
                {% endfor %}
            {% endfor %}
        </ul>

        <h4><small>Elections</small></h4>
        <ul>
            {% for organization in request.hero.organization_set.all %}
                {% if organization.current_election %}
                    <li>
                        <a href="{{ organization.current_election.get_absolute_url }}">
                            Elections for {{ organization.get_html_name }}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>

        <h4><small>Capabilities</small></h4>

        <ul>
            {% for organization in request.hero.organization_set.all %}
                {% for capability in organization.capability_set.all %}
                    <li>
                        <a href="{{ capability.get_absolute_url }}">
                            {{ capability.organization.get_short_html_name }}:
                            {{ capability.get_type_display|capfirst }}
                            {% if capability.applying_to != organization %}
                                -&gt; {{ capability.applying_to.get_short_html_name|safe }}
                            {% endif %}
                        </a>
                    </li>
                {% endfor %}
            {% endfor %}
        </ul>
    </div>

{% endblock %}
