{% extends "base/base.html" %}

{% load bootstrap %}

{% block content %}

    <h1 class="page-header">New character in {{ world }}</h1>

    <div class="container-fluid">
        <form class="form-horizontal" role="form" method="post">
            {% csrf_token %}

            <div class="form-group">
                <h2>Choose your realm</h2>
                {% for state in world.get_violence_monopolies.all %}
                    <div class="col-md-6">
                        <div class="well">
                            <label class="btn {% if state.barbaric %}btn-default{% else %}btn-primary{% endif %}">
                                <input type="radio" name="state_id" value="{{ state.id }}"> {{ state.get_html_name }}
                            </label>
                            {% if state.barbaric %}
                                <p><b>
                                    This is a barbaric realm and recommended
                                    for advanced players only!
                                </b></p>
                            {% endif %}
                            <p>{{ state.description }}</p>
                            <p>{{ state.get_membership_including_descendants|length }} members</p>
                            <p>{{ state.get_all_controlled_tiles|length }} regions</p>
                            <p>
                                {% if state.leader %}
                                    Leader: {{ state.leader.get_html_name }}
                                {% else %}
                                    Fully horizontal Realm.
                                {% endif %}
                            </p>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <hr>

            <div class="form-group">
                <h2>Choose your profile</h2>

                <div class="col-md-6">
                    <div class="well">
                        <label class="btn btn-primary">
                            <input type="radio" name="profile" value="commander">
                            Commander
                        </label>
                        <p><b>
                            This is the recommended option for your first
                            character.
                        </b></p>
                        <p>
                            The main function of commanders is to recruit and
                            lead units to fight barbarians and other enemy
                            realms. A commander can hold more units and soldiers
                            and has advantages when managing units.
                        </p>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="well">
                        <label class="btn btn-primary">
                            <input type="radio" name="profile" value="trader">
                            Trader (experimental)
                        </label>
                        <p>
                            Traders move goods from one place to another,
                            taking care of the logistics of realms. Traders
                            start with transport carts, which allow them to
                            carry more goods around.
                        </p>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="well">
                        <label class="btn btn-primary">
                            <input type="radio" name="profile" value="bureaucrat">
                            Bureaucrat (experimental)
                        </label>
                        <p>
                            Bureaucrats help in the organization of realms
                            and keep their backbones functioning properly.
                        </p>
                    </div>
                </div>
            </div>

            <hr>

            <div class="form-group form-inline">
                <h2>Choose your name</h2>
                <select class="form-control" name="name">
                    {% for name in names %}
                        <option value="{{ name }}">{{ name }}</option>
                    {% endfor %}
                </select>
                <select class="form-control" name="surname">
                    {% for surname in surnames %}
                        <option value="{{ surname }}">{{ surname }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </form>
    </div>

{% endblock %}


