{% extends "messaging/base.html" %}

{% load extra_filters %}

{% block messaging_content %}

    <div>

        {% for message in message_list.all %}
            {% ifchanged %}
                <hr>
                <div class="row">
                    <h5>
                        {{ message.creation_turn|nice_turn }}
                    </h5>
                </div>
            {% endifchanged %}

            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span class="lead">
                                Sent to FOO
                            </span>
                        </div>
                        <div class="panel-body">
                            <p>
                                <small>{{ message.creation_time }}</small>
                            </p>
                            <pre style="white-space: pre-wrap;">
                                {{ message.content }}
                            </pre>
                        </div>
                    </div>
                </div>
            </div>
        {% empty %}
            <p>
                No messages.
            </p>
        {% endfor %}
    </div>

{% endblock %}
